/* style.css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
}

body {
    height: 100vh; /* Use viewport height to center content vertically */
    background-color: #E3E3E3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1366px;
    margin: auto;
    text-align: center; /* Center text within the container */
}

.main-header {
    padding: 40px 0;
}

.main-section {
    margin-top: 20px;
}

p {
    color: #383838;
    font-size: 18px;
    line-height: 28px;
}

.submitted {
    color: #FF2523;
    font-weight: bold;
}

/* Add more styling as needed */
